<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" class="brand-logo">Pantry Pickup</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#">Claim a Donation</a></li>
                <li><a href="#">Be a Donater</a></li>
            </ul>
        </div>
    </div>
</nav>


<h1>donations</h1>