<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="#" class="brand-logo">Pantry Pickup</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/donation">Claim a Donation</a></li>
        <li><a href="#">Be a Donater</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="main">
  <div class="section white">
    <div class="row container">
      <h2 class="header">Welcome to Pantry Pickup</h2>
      <p class="grey-text text-darken-3 lighten-3">Brief Description</p>
    </div>
  </div>

  <div class="parallax-container">
    <div class="parallax" id="parallax1">
      {{!-- parallax image here --}}
    </div>
  </div>

  <div class="section white">
    <div class="row container">
      <h2 class="header">What is Pantry Pickup</h2>
      <p class="grey-text text-darken-3 lighten-3">Some mission statement</p>
    </div>
  </div>

  <div class="parallax-container">
    <div class="parallax" id="parallax2">
      {{!-- parallax image here --}}
    </div>
  </div>

  <div class="section white">
    <div class="row container">
      <h2 class="header">Become a Donator</h2>
      <p class="grey-text text-darken-3 lighten-3">Motivational statment</p>
    </div>
  </div>


  <div class="parallax-container">
    <div class="parallax" id="parallax3">
      {{!-- parallax image here --}}
    </div>
  </div>
</div>




<script src="/js/index.js"></script>