<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="#" class="brand-logo">Pantry Pickup</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/donation">Claim a Donation</a></li>
        <li><a href="/donator">Make a Donation</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="main parallax-container">
  <div class="section white">
    <div class="row container">
      <h2 class="header color-scheme1">
        Welcome to Pantry Pickup
      </h2>
      <p class="grey-text text-darken-3 lighten-3 p-text">Pantry Pickup is a site made for donations of food items.
        Purchase grocery that you couldn't consume? Instead of throwing it away post it on Pantry Pickup and we will
        come bring it to a local food bank!
      </p>
    </div>
  </div>

  <div class="parallax-container">
    <div class="parallax" id="parallax1">
      <img src="/images/dan-gold-298710-unsplash.jpg">
    </div>
  </div>



  <div class="section white">
    <div class="row container">
      <h2 class="header color-scheme3">What is Pantry Pickup</h2>
      <p class="grey-text text-darken-3 lighten-3 p-text">In the United States the average household throws away $2,200
        worth of food each year. This is a waste of the resources and energy gone into producing the food. Instead of
        putting food into landfills they can go to local food banks and feed others in need. Pantry Pickup is here to
        raise food waster awareness and reduce food waste by diverting food away from landfills.
      </p>
    </div>
  </div>

  <div class="parallax-container">
    <div class="parallax" id="parallax2">
      <img src="/images/luke-michael-27050-unsplash.jpg">
    </div>
  </div>

  <div class="section white">
    <div class="row container">
      <h2 class="header color-scheme2">Become a Donator</h2>
      <p class="grey-text text-darken-3 lighten-3 p-text">Help reduce food wastes by making donations of unwanted
        grocery items now. Submit what you want give away and we will come pick it up.</p>
      <p class="p-text"><a href="#">Start a food donation here.</a></p>
    </div>
  </div>


  <div class="parallax-container">
    <div class="parallax" id="parallax3">
      <img src="/images/peter-wendt-123928-unsplash.jpg">
    </div>
  </div>
</div>

<script src="/js/index.js"></script>