
  Color Scheme{
  color: #967D69;
  color: #92B9BD;
  color: #A8D4AD;
  color: #F2F79E;
  color: #E8EC67;
  }

  /* 
  font-styles:
    font-family: 'Roboto', sans-serif;
    font-family:'Roboto Slab', serif;
  */

nav{
  background-color: #967D69;
}

/* body{
  background-color: #F2F79E;
} */

.content{
  background-color: white;
  margin-top: 20px;
  padding: 20px 30px 40px 30px;
}

.back-img1{
  background-image: url("/images/alexandra-kikot-1238354-unsplash.jpg");
  opacity: 0.3;
  width:100%;
  height:100%;
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.back-img2{
  background-image: url("/images/merve-aydin-1337717-unsplash.jpg");
  opacity: 0.3;
  width:100%;
  height:100%;
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

p{
  font-family: 'Roboto', sans-serif;
}

th{
  font-family:'Roboto Slab', serif;
}

td{
  font-family: 'Roboto', sans-serif;
}

.brand-logo{
  font-family:'Roboto Slab', serif;
}

.color-scheme1{
  color: #967D69;
}

.color-scheme2{
  color: #92B9BD !important;
}

.color-scheme3{
  color: #A8D4AD;
}

.color-scheme4{
  color: #F2F79E;
}

.color-scheme5{
  color: #E8EC67;
}


.header{
  font-family:'Roboto Slab', serif;
}

.page-header{
  font-family:'Roboto Slab', serif;
  text-align: center;
}

#parallax1{
  
}

#parallax2{
  background-color: #92B9BD;
}

#parallax3{
  background-color: #A8D4AD;
}

.claim-btn{
  background-color: #E8EC67;
  color: black;
}

.p-text{
  font-size: 24px;
}

