
  Color Scheme{
  color: #967D69;
  color: #92B9BD;
  color: #A8D4AD;
  color: #F2F79E;
  color: #E8EC67;
  }


.page-header{
  text-align: center;
}

#parallax1{
  
}

#parallax2{
  background-color: #92B9BD;
}

#parallax3{
  background-color: #A8D4AD;
}

.claim-btn{
  background-color: #E8EC67;
  color: black;
}

.p-text{
  font-size: 24px;
}

